:root {
  --clr-blue-primary: #3882F6;   /* Button color, call to action background color */
  --clr-blue-secondary: #1F2937; /* Hero and Footer background */
  --clr-white: #F9FAF8;          /* Header Logo Text, Hero Main Text */
  --clr-gray: #E5E7EB;           /* Hero Secondary Text, Header Link Text, Quote section */

  --font-size-hero-main: 48px;
  --font-size-hero-secondary: 18px;
  --font-size-header-logo: 24px;
  --font-size-header-info: 36px;
  --font-size-quote: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header Section */

.header {
  background-color: var(--clr-blue-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 180px;
}

.header__logo {
  color: var(--clr-white);
  font-size: 18px;
}

.navbar__list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.navbar__link {
  color: var(--clr-gray);
  text-decoration: none;
}

/* Hero Section */

.hero {
  background-color: var(--clr-blue-secondary);
  padding: 70px 180px 100px 180px;
  display: flex;
  justify-content: space-between;
}

.hero__container {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero__title {
  color: var(--clr-white);
  font-size: 40px;
  width: 65%;
}

.hero__description {
  width: 92%;
  color: var(--clr-gray);
  margin-bottom: auto;
}

.hero__image {
  width: 420px;
}

.btn {
  padding: 8px 24px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-blue-primary);
  width: 120px;
  text-align: center;
}

/* Info Section */

.info {
  text-align: center;
  padding-left: 180px;
  padding-right: 180px;
}

.info__title {
  padding: 48px 0;
}

.info__container {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  gap: 24px;
}

.info__image {
  border: 3px solid var(--clr-blue-primary);
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.info__text {
  font-size: 16px;
  color: var(--clr-blue-secondary);
}

/* Quote Section */

.quote {
  background-color: var(--clr-gray);
  padding: 60px 250px;
}

.quote__text {
  font-weight: 300;
  font-size: 36px;
  font-style: italic;
}

.quote__author {
  text-align: right;
  font-weight: 700;
}

/* Action Section */

.action {
  background-color: var(--clr-blue-primary);
  margin: 100px 180px;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.action__container {
  display: flex;
  flex-direction: column;
}

.action__title {
  color: var(--clr-white);
}

.action__text {
  color: var(--clr-gray);
}

.btn--action {
  border: 2px solid var(--clr-white);
}

/* Footer */

.footer {
  background-color: var(--clr-blue-secondary);
  color: var(--clr-gray);
  text-align: center;
  font-size: 14px;
  padding: 32px;
}