:root {
  --clr-blue-primary: #3882F6;   /* Button color, call to action background color */
  --clr-blue-secondary: #1F2937; /* Hero and Footer background */
  --clr-white: #F9FAF8;          /* Header Logo Text, Hero Main Text */
  --clr-gray: #E5E7EB;           /* Hero Secondary Text, Header Link Text, Quote section */

  --fs-hero-main: 48px;
  --fs-hero-secondary: 18px;
  --fs-header-logo: 24px;
  --fs-header-info: 36px;
  --fs-quote: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header Section */

.header {
  background-color: var(--clr-blue-secondary);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1000px, 100% - 2rem);
  padding-block: 16px;
  margin-inline: auto;
}

.header__logo {
  color: var(--clr-white);
  font-size: var(--fs-hero-secondary);
}

.navbar__list {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.navbar__link {
  color: var(--clr-gray);
  text-decoration: none;
}

/* Hero Section */

.hero {
  background-color: var(--clr-blue-secondary);
  padding-block: 100px;
}

.hero__container {
  display: flex;
  width: min(1000px, 100% - 2rem);
  margin-inline: auto;
  gap: 7rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__title {
  color: var(--clr-white);
  font-size: var(--fs-hero-main);
  margin-bottom: 8px;
}

.hero__description {
  width: 85%;
  color: var(--clr-gray);
  margin-bottom: auto;
}

.hero__image {
  width: 420px;
}

.btn {
  padding: 8px 24px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-blue-primary);
  width: 120px;
  text-align: center;
}

/* Info Section */

.info {
  text-align: center;
  width: min(1000px, 100% - 2rem);
  margin-inline: auto;
}

.info__title {
  padding: 48px 0;
  font-size: var(--fs-header-info);
}

.info__container {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  gap: 40px;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.info__image {
  border: 3px solid var(--clr-blue-primary);
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.info__text {
  font-size: 1rem;
  color: var(--clr-blue-secondary);
  width: 150px;
}

/* Quote Section */

.quote {
  background-color: var(--clr-gray);
  padding-block: 60px;
}

.quote__container {
  width: min(800px, 100% - 2rem);
  margin-inline: auto;
}

.quote__text {
  font-weight: 100;
  font-size: var(--fs-quote);
  font-style: italic;
}

.quote__author {
  text-align: right;
  font-weight: 700;
  font-size: var(--fs-hero-secondary);
}

/* Action Section */

.action {
  padding-block: 90px;
}

.action__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-blue-primary);
  width: min(1000px, 100% - 2rem);
  margin-inline: auto;
  padding: 48px 100px;
  border-radius: 10px;
}

.action__title {
  color: var(--clr-white);
  margin-bottom: 5px;
}

.action__text {
  color: var(--clr-gray);
}

.btn--action {
  border: 2px solid var(--clr-white);
}

/* Footer */

.footer {
  background-color: var(--clr-blue-secondary);
  color: var(--clr-gray);
  text-align: center;
  font-size: 1rem;
  padding: 32px;
}